.my-buttons-transform{
    display:block;
    margin-top: 30px;
}
.my-button-transform:hover{
    opacity:0.8;
    color:#fff;
}
.my-button-transform{
    color:#fff;
    background-color:#000;
    padding:8px 16px 8px 16px;
    border-radius:5px;
    border:none;
    cursor: pointer;
    height:40px;
    font-family: "Droid Sans";
    font-size:18px;
    outline: none;
}
.my-button-transform:hover{
    opacity:0.8;
    color:#fff;
}
#transformright{
    float:right;
}

#transformleft{
    float:left;
}